@model DiningHub.Models.Feedback

@{
    ViewData["Title"] = $"Feedback Details - {Model.FeedbackId}";
}

@* <div class="container-fluid shadow rounded-3 mb-5 bg-white pt-4">
    <h1 class="text-center mb-4">Feedback Details</h1>

    <div class="card mb-4">
        <div class="card-header bg-danger text-white text-center rounded-3">
            <h4>Feedback Details - @Model.FeedbackId</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">User</dt>
                <dd class="col-sm-9">@Model.User.UserName</dd>

                <dt class="col-sm-3">Comments</dt>
                <dd class="col-sm-9">@Model.Comments</dd>

                <dt class="col-sm-3">Rating</dt>
                <dd class="col-sm-9">@Model.Rating</dd>

                <dt class="col-sm-3">Date</dt>
                <dd class="col-sm-9">@Model.Date.ToString("g")</dd>
            </dl>
        </div>
    </div>

    <div class="d-flex justify-content-center pb-4">
        <a asp-action="Index" class="btn btn-secondary btn-lg rounded-pill col-6">Back to List</a>
    </div>
</div>
 *@