@model DiningHub.Models.MenuItem

@{
    ViewData["Title"] = "Menu Item Details";
}

<h2>Menu Item Details</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid" />
        </div>
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">Description</dt>
                <dd class="col-sm-9">@Model.Description</dd>

                <dt class="col-sm-3">Price</dt>
                <dd class="col-sm-9">@Model.Price.ToString("C")</dd>

                <dt class="col-sm-3">Category</dt>
                <dd class="col-sm-9">@Model.Category.Name</dd>

                <dt class="col-sm-3">Available</dt>
                <dd class="col-sm-9">@Model.IsAvailable ? "Yes" : "No"</dd>

                <dt class="col-sm-3">Created At</dt>
                <dd class="col-sm-9">@Model.CreatedAt.ToString("g")</dd>

                <dt class="col-sm-3">Last Updated At</dt>
                <dd class="col-sm-9">@Model.UpdatedAt.ToString("g")</dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to Menu</a>

    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="ShoppingCart" asp-action="AddToCart" method="post" class="d-inline">
            <input type="hidden" name="menuItemId" value="@Model.MenuItemId" />
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
    }
    else
    {
        <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Login", "Account")'">Add to Cart</button>
    }
</div>
