@model IEnumerable<DiningHub.Models.ShoppingCartItem>

@{
    ViewData["Title"] = "Shopping Cart";
}

<div class="container-fluid shadow rounded-3 mb-5 bg-white pt-4">
    <h1 class="text-center mb-4">SHOPPING CART</h1>

    @if (ViewBag.Message != null)
    {
        <div class="pb-4">
            <div class="alert alert-danger text-center">@ViewBag.Message</div>
           
        </div>
    }
        
    else
    {
        <table class="table table-hover table-bordered">
            <thead class="table-danger text-center">
                <tr>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img src="@item.MenuItem.ImageUrl" alt="@item.MenuItem.Name" class="img-thumbnail" style="width: 100px; height: 100px;" />
                            @item.MenuItem.Name
                        </td>
                        <td class="align-middle text-wrap">@item.MenuItem.Description</td>
                        <td class="align-middle">@item.MenuItem.Price.ToString("C")</td>
                        <td class="align-middle">
                            <form asp-action="UpdateQuantity" method="post" class="d-inline">
                                <input type="hidden" name="cartItemId" value="@item.ShoppingCartItemId" />
                                <div class="input-group">
                                    <input type="number" name="quantity" value="@item.Quantity" min="1" class="form-control rounded-pill" />
                                    <button type="submit" class="btn btn-primary rounded-pill ms-2">Update</button>
                                </div>
                            </form>
                        </td>
                        <td class="text-center align-middle">
                            <form asp-action="RemoveFromCart" method="post" class="d-inline">
                                <input type="hidden" name="cartItemId" value="@item.ShoppingCartItemId" />
                                <button type="submit" class="btn btn-danger rounded-pill">Remove</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="d-grid gap-2 col-6 mx-auto pb-4">
            <a asp-action="Checkout" class="btn btn-success btn-lg rounded-pill">Proceed to Checkout</a>
        </div>
    }
</div>
